.form__input-about {
    background: none;
    box-shadow: none;
    color: white;
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}