.form__input {
    background: none;
    box-shadow: none;
    color: black;
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}

@media (max-width: 450px) {
    .form__input {
        margin-bottom: 30px;;
    }
}