.form__input-name {
    background: none;
    box-shadow: none;
    color: black;
    margin: 0;
    padding: 0;
    background-size: cover;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}