.card {
    width: 282px;
    height: 360px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}